.lista-contactos {
    list-style-type:none;
}

.lista-contacto {
    padding: 0;
    margin: 0;
}

.lista-contacto .contacto{
    color: #E9EDEF;
    border-top: 1px solid #202C33;
    font-size: 20px;
    display: flex; 
    align-items: center; 
    text-decoration: none; 
    display: flex;
    padding: 0;
    margin: 0;
}

.lista-contactos .contacto .nombre {
    padding: 0;
    margin: 0;
    font-weight: 700;
}

.lista-contactos .contacto .texto{
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-weight: 300;
}

.whatsapp {
    color: #E9EDEF;
    background-color: #138d4c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding-left: 25px;
}

.iconos {
    display: flex;
    align-items: center;

}

.lupita {
    color: #E9EDEF;
    position: absolute;
    top: 10px;
    left: 10px;
}

.input-buscar {
    width: 100%;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    background-color: #202C33;
    color: #E9EDEF;
    padding-left: 35px;
    box-sizing: border-box;
}

.input-buscar::placeholder {
    color: #8696A0;
}

.imagenes {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    
}

.barra-busqueda {
    position: relative;
}

.tiempo {
    margin-left: auto;
    font-size: 14px;
}

.texto {
    opacity: 0.6;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 320px) {
    
}

@media screen and (max-width: 2000) {
    
}
