body { /* selector de elementos */

}

h2{
    color: rgb(170, 00, 255);
    font-size: 50px;
}

.subtitulo-especial{ /* Selector de clases */
    color: green;
    font-family: 'Times New Roman', Times, serif;
}

*{/* selector universal */
    font-family: sans-serif !important;
}

.subtitulo-especial{
    color: yellow;
}

#super-especial{
    color: blue;
}

.super-especial{
    color: red;
    font-family: 'Times New Roman', Times, serif !important;
}