body {
    color: #E9EDEF;
}

.general {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    max-width: 550px;
    margin: 0 auto;
}

.iconos-grandes-general {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

}

.icono-titulo {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.icono-titulo svg {
    margin: 0;
    padding: 0;
}

.opciones {
    margin: 0;
    padding: 0;
}

.opcion .icono-titulo svg {
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

.opcion span {
    padding-left: 30px;
}

.iconos-grandes-general .icono-titulo {
    display: flex;
    flex-direction: column;
    padding: 8px 5px;
    min-width: 33%;
}

.iconos-grandes-general {
    display: flex;
    flex-direction: row;
    gap: 20px; 
    align-content: center;
    justify-content: center;
    align-items: center
}

.iconos-grandes-general .icono-titulo {
    border: 1px solid #E9EDEF; 
    border-radius: 10px;
}

.imagen {
border-radius: 100%;
}

.volver {
    color:#E9EDEF ;
    position: absolute;
    height: 40px;
    width: 40px;
    left: 0;
}

.cabecera-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
}
